#customer-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    background: linear-gradient(141.27deg,#060606,#250123);
    height: 100%;
    width: 100%;
}

#customer-wrapper > div span{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 200%;
}

#customer-wrapper > div span:first-child{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e12f53;
}


#customer-wrapper > div span:last-child{
    color: #d3d3d3e0;
}



.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 700px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #741a2c;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(odd) {
    color:black;
    background-color: white;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #741a2c;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #c32b49;
}

.model-con{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 15%;
    height: 25%;
    background: linear-gradient(141.27deg,#250123,#741a2c);
    border: 1px solid black;
    transition-duration: 0.4s; 
}
.model-con.show {
    opacity: 1;
    pointer-events: auto;
    transition-duration: 0.8s; 
}
.model{
    text-align: center;
    font-size: 100%;
    display: flex;
    flex-direction: column;
}

.btn{
    border-radius: 12px;
    border: 2px solid black;
    background-color: white;
    cursor:pointer;
    padding: 10px 24px;
    transition-duration: 0.4s; 
}