.page-transition{
    width:0;
    height:100%;
    background-image: linear-gradient(141.27deg,#060606,#250123);
    position:absolute; 
    z-index: 1;
    transition: width 0.4s ease-in-out;
    /* transition: width 0.8s cubic-bezier(0.76, 0.18, 0.34, 0.87); */
    
}

.page-transition.activate{
    width: 100%;
}

.page-transition.deactivate{
    right:0;
    width:0;
}


